.popover {
    position: absolute;
    padding: 10px;
    border-radius: 3px;
    font-family: 'Poiret One', sans-serif;
    z-index: 1000;
    transform-origin: top left;
}

@keyframes personaAppear {
    0% {
        transform: scale(0.5) rotate(-10deg);
        opacity: 0;
    }

    60% {
        transform: scale(1.05) rotate(2deg);
        opacity: 1;
    }

    80% {
        transform: scale(0.95) rotate(-1deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

.persona-appear {
    animation: personaAppear 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}


@keyframes personaDisappear {
    0% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }

    60% {
        transform: scale(0.95) rotate(-1deg);
    }

    80% {
        transform: scale(1.05) rotate(2deg);
    }

    100% {
        transform: scale(0.5) rotate(-10deg);
        opacity: 0;
    }
}

.persona-disappear {
    animation: personaDisappear 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.popover-arrow {
    position: absolute;
    width: 12px;
    height: 12px;
    background: white;
    transform: rotate(-45deg);
    top: 6px;
    left: -5px;
}

.popover-content {
    gap: 25px;
    width: 100%;
    border: 1px solid #ccc;
}

#popup-form {
    box-sizing: border-box;
    display: flex;
    width: 500px;
    display: flex;
    align-items: center;
    padding-left: 70px;
    padding-bottom: 60px;
    height: 120px;

   
}

#fname {
    font-family: 'Poiret One', sans-serif;
    border: none;
    width: 250px;
    font-size: 29px;
    font-weight: bolder;
    height: 100%;
    border-bottom: black solid;
    background-color: transparent;
    transform: rotate(5deg);
}

#fname:focus {
    outline: none;
}


#popup-form > button {
    font-family: 'Poiret One', sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    font-weight: bolder;
    height: 100%;
    width: 60px;
    gap: 10px;
}






#popup-2-form > input, #popup-2-form > button, #popup-2-form > select {
    margin-top: 10px;
    font-size: 20px;

}

#popup-2-form {
    padding-left: 10px;
}

#ftext {
    font-family: 'Poiret One', sans-serif;
    border: none;
    width: calc(100% - 100px);
    font-size: 29px;
    font-weight: bolder;
    height: 100%;
    border-bottom: black solid;
    background-color: transparent;
    transform: rotate(2deg);
}

#ftext:focus {
    outline: none;
}

#fvalue {
    font-family: 'Poiret One', sans-serif;
    border: none;
    width: 250px;
    font-size: 29px;
    font-weight: bolder;
    height: 100%;
    border-bottom: black solid;
    background-color: transparent;
    transform: rotate(-3deg);
}

#fvalue:focus {
    outline: none;
}

#fdate {
    font-family: 'Poiret One', sans-serif;
    border: none;
    padding-top: 15px;
    transform: rotate(3deg);
    font-size: 29px;
    font-weight: bolder;
    height: 100%;
    border-bottom: black solid;
    background-color: transparent;
}

#fdate:focus {
    outline: none;
}

#fcategory {
    font-family: 'Poiret One', sans-serif;
    border: none;
    width: 250px;
    font-size: 29px;
    font-weight: bolder;
    height: 100%;
    border-bottom: black solid;
    background-color: transparent;
    
}

#fcategory:focus {
    outline: none;
}

#popup-2-form > button {
    transform: rotate(-4deg);
}