@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unkempt&display=swap');
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
   
}

body {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    font-family: 'Poiret One', sans-serif;
    align-items: center;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 920px;
    height: 1000px;
    padding-top: 20px;
    gap: 10px;
}
#root {
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: center;
}

.main > div:nth-child(1) {
    display: flex;
    min-height: 75px;
    height: auto;
    width: 95%;
    border: solid 1px grey;
    justify-content: center;
    position: relative;
}

.main > div:nth-child(2) {
    display: flex;
    min-height: 75px;
    height: auto;
    width: 95%;
    border: solid 1px grey;
    justify-content: center;
}

.main > div:nth-child(3) {
    
    min-height: 100px;
    height: auto;
    width: 95%;
    border: solid 1px grey;
    justify-content: center;
}

.block {
    border-radius: 50%;
    display: flex;
    width: 50px;
    height: 50px;
    background: #c7e2dc;
    border: none;
    align-items: center;
    justify-content: center;
    line-height: normal;
    font-size: 12px;
    font-weight: bolder;
    cursor: pointer;
    font-family: 'Poiret One', sans-serif;
    transition: transform 0.4s ease-out, opacity 0.3s ease-out
}



.inactive {
    opacity: 0.5;
    pointer-events: none;
    transition: transform 0.4s ease-out, opacity 0.3s ease-out
}

.categories {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}
    .categories > div {
        position: relative;
        display: inline-block;
    }

    .categories > div > :nth-child(2) {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 20px;
        height: 20px;
        background: red;
        color: white;
        border: none;
        border-radius: 50%;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

        .categories > div > :nth-child(2):hover {
            background: darkred;
        }

.block-add {
    border-radius: 50%;
    display: flex;
    width: 50px;
    height: 50px;
    border: solid 1px grey;
    align-items: center;
    justify-content: center;
    line-height: normal;
    font-size: 12px;
    font-family: 'Poiret One', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.4s ease-out, opacity 0.3s ease-out
}




.transactions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 1px grey;
    min-height: 100px;
    height: auto;
    width: 95%;

}

.transaction-line {
    padding: 10px;
}

.price {
    margin-left: auto;
    justify-content: end;
}

.transaction-list {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.transaction-data {
    text-align: center;
}









.transactionList {
    display: flex;
    padding: 10px;
    width: 100%;
}

#transaction-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

}

    #transaction-form input, select, button {
        font-family: 'Poiret One', sans-serif;
        font-weight: bolder;
        padding: 10px;
    }










.persona-dialog {
    width: 500px;
    height: 150px;
}







.pointer {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    font-size: 1.3vw;
    color: #a33;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transform: translateX(-130%) translateY(30%) rotate(-20deg);
    font-family: "Unkempt", cursive;

    
}

.pointer > #text {
    width: 10ch;
}

    .pointer > img {
        width: 50px;
        transform: translateX(40%) rotate(45deg);
    }