html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
   
}

body {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    font-family: 'Poiret One', sans-serif;
    align-items: center;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 920px;
    height: 1000px;
}
.header {
    display: flex;
    
    
    height: 100px;
    width: 95%;
    border: solid 1px grey;
}

.main > div:nth-of-type(1) {
    height: 100px;
    width: 95%;
    border: solid 1px grey;
}

.block {
    border-radius: 50%;
    display: flex;
    width: 50px;
    height: 50px;
    background: #c7e2dc;
    border: none;
    align-items: center;
    justify-content: center;
    line-height: normal;
    font-size: 12px;
    font-weight: bolder;
    cursor: pointer;
    font-family: 'Poiret One', sans-serif;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.block-add {
    border-radius: 50%;
    display: flex;
    width: 50px;
    height: 50px;
    border: solid 1px grey;
    align-items: center;
    justify-content: center;
    line-height: normal;
    font-size: 12px;
    font-weight: bold;
}





.popover {
    position: absolute;
    width: 220px;
    background: white;
    padding: 10px;
    border-radius: 3px;
    font-family: 'Poiret One', sans-serif;
    z-index: 1000;
    transform-origin: top left; /* Початок обертання буде з верхнього лівого кута */
    transition: transform 0.4s ease-out, opacity 0.3s ease-out, top 0.4s ease-out, left 0.4s ease-out;
}

/* Стрілочка під popover */
.popover-arrow {
    position: absolute;
    width: 12px;
    height: 12px;
    background: white;
    transform: rotate(-45deg);
    
    top: 6px; /* Щоб стрілка була над popover */
    left: -5px; /* Розташування стрілки */
}

/* Початковий стан (над кнопкою, повернутий вліво) */
.popover-hidden {
    transform: rotate(-45deg) translateY(-20px) translateX(-20px) scale(0.5);
    opacity: 0;
}

/* Відкрите вікно (анімовано вниз і вправо) */
.popover-visible {
    transform: rotate(0) translateY(0) translateX(0) scale(1);
    opacity: 1;
}

#fname {
    font-family: 'Poiret One', sans-serif;
}