html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
   
}

body {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    font-family: 'Poiret One', sans-serif;
    align-items: center;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 920px;
    height: 1000px;
}
.header {
    display: flex;
    
    
    height: 100px;
    width: 95%;
    border: solid 1px grey;
}

.main > div:nth-of-type(1) {
    height: 100px;
    width: 95%;
    border: solid 1px grey;
}

.block {
    border-radius: 50%;
    display: flex;
    width: 50px;
    height: 50px;
    background: #c7e2dc;
    border: none;
    align-items: center;
    justify-content: center;
    line-height: normal;
    font-size: 12px;
    font-weight: bolder;
    cursor: pointer;
    font-family: 'Poiret One', sans-serif;
    transition: transform 0.4s ease-out, opacity 0.3s ease-out
}



.inactive {
    opacity: 0.5;
    pointer-events: none;
    transition: transform 0.4s ease-out, opacity 0.3s ease-out
}

.categories {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.block-add {
    border-radius: 50%;
    display: flex;
    width: 50px;
    height: 50px;
    border: solid 1px grey;
    align-items: center;
    justify-content: center;
    line-height: normal;
    font-size: 12px;
    font-family: 'Poiret One', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.4s ease-out, opacity 0.3s ease-out
}




.transactions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 1px grey;
    min-height: 100px;
    height: auto;
    width: 95%;

}

.transaction-line {
    padding: 5px;
}

.transaction-list {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.transaction-data {
    text-align: center;
}

.transactions-list div:nth-child(1) {

}


.transaction-add {

}


